@import url("https://fonts.googleapis.com/css?family=Century+Gothic&display=swap");
body {
  margin: 0;
  font-family: CenturyGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F8FFFC 0% 0% no-repeat padding-box;
opacity: 1;
  margin:0;
  color: #00955C;
  padding: 0;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
