@import url("https://fonts.googleapis.com/css?family=Century+Gothic&display=swap");
body {
  font-family: CenturyGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F8FFFC 0% 0% no-repeat;
opacity: 1;
  margin:0;
  height: 100vh;
  font-weight: 700;
  color: #00955C;
  padding: 0;
}
#root{
  height: 100%;
}

*{
  margin: 0;
  padding: 0
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
